


<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{tab_title}}</title>
	</head>

	<style>
		.content{
			position: relative;
			display: inline-block;
			float: left;
			width: 640px;
			height: auto;
			background-color: rgba(0,0,0,0.1);
		}
		.content .item{
			position: relative;
			display: inline-block;
			float: left;
			width: calc(33% - 10px);
			height: auto;

			margin: 5px;
			background: rgba(0,0,0,0.2);
			border: 1px solid rgba(255,0,0,0.5);
			box-sizing: border-box;
		}
		.content .item .r-16-9{
			position: relative;
			display: inline-block;
			float: left;
			width: 100%;
			padding-bottom: 56.25%;
			background: rgba(255,0,0,0.2);
			cursor: pointer;

			-webkit-transition: background 500ms;
			-o-transition: background 500ms;
			transition: background 500ms;
		}
		.content .item .r-16-9:hover{
			background: rgba(255,0,0,0.6);

			-webkit-transition: background 500ms;
			-o-transition: background 500ms;
			transition: background 500ms;
		}
	</style>
	<body>
		{{> header}}
		<div class="content">
			<div class="item">
				<div class="r-16-9"></div>
			</div>
			<div class="item">
				<div class="r-16-9"></div>
			</div>
			<div class="item">
				<div class="r-16-9"></div>
			</div>
		</div>
		
		{{> footer}}
	</body>
</html>